/**/*.ts
/**/*.js.map
!/**/*.d.ts
/tests/**/*.*
/*.js
/*.d.ts
!/index.js
!/index.d.ts
/coverage/
/.devcontainer/
/.github/
/.idea/
/Makefile
/.editorconfig
/.prettierignore
/.prettierrc
/tsconfig*.json
/generated-types/
/**/.gitkeep
/validator/
/data/
/discover-types.perf.json
